<h1>Registrate</h1> 
<form action="/api/users/signup" method="post">
    <div class="mb-3">
        <label for="userFirstName" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="userFirstName" />
    </div>
    <div class="mb-3">
        <label for="userLastName" class="form-label">Apellido</label>
        <input type="email" class="form-control" id="userLastName" />
    </div>
    <div class="mb-3">
        <label for="userEmail" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="userEmail" />
    </div>
    <div class="mb-3">
        <label for="userPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="userPassword" />
    </div>
    <button type="submit" class="btn btn-primary">Evniar</button>
</form>